@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);

body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;;
}

form {
    padding: 0 20px;
}

h1 {
    margin: 25px 0;
    font-size: 24px;
    font-weight: 300;
    color: #555555;
}

h1 strong {
    font-weight: 800;
    border-bottom: 2px solid #f8ac59;
}

label {
    float: left;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    margin-right: 15px;
    display: block;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

legend {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 300;
    color: #555555;
}

p {
    margin: 0;
}

input {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 35px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    cursor: text;
}

input:focus {
    outline: none;
    border-color: #f8ac59;
}

input[disabled] {
    background-color: #ecf0f1;
    cursor: not-allowed;
}

input[type="button"], input[type="submit"] {
    width: 250px;
    background-color: #ccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.ac-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
    clear: both;
}

.ac-multiple {
    position: relative;
    width: 100%;
    display: inline-block;
    clear: both;
    border: 1px solid #ccc;
    background: #ecf0f1;
}
.ac-multiple ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ac-multiple ul li {
    padding: 5px 3px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #555555
}
.ac-multiple ul li:last-child {
    border-bottom: none;
}
.ac-multiple ul li button {
    display: inline-block;
    height: 30px;
    margin-right: 0;
    padding: 0 8px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #f8ac59;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ac-wrapper, .ac-wrapper *, .ac-wrapper *:before, .ac-wrapper *:after,
.ac-multiple, .ac-multiple *, .ac-multiple *:before, .ac-multiple *:after {
    box-sizing: border-box;
}

.ac-wrapper:focus {
    outline: none;
}

.ac-present-text {
    width: 100%;
    height: 35px;
    display: inline-block;
    padding: 0;
    font-size: 14px;
    line-height: 34px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.ac-wrapper:focus .ac-present-text {
    border-color: #f8ac59;
}

.ac-present-crop-text {
    position: relative;
    width: calc(100% - 25px);
    height: 35px;
    overflow: hidden;
}

.ac-present-items {
    position: absolute;
    top: 0;
    left: -0;
    width: 900px;
    -webkit-transition: left linear 3s;
    -o-transition: left linear 3s;
    transition: left linear 3s;
}

.ac-present-inner-text, .ac-present-inner-value {
    padding: 0 6px;
}

.ac-present-inner-text {
    display: inline-block;
    white-space: nowrap;
}

.ac-present-inner-value {
    height: 34px;
    display: none;
    line-height: 34px;
    background: rgba(0, 0, 0, 0.04);
}

.ac-panel {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    border: 1px solid #ccc;
    background: #ecf0f1;
    overflow: auto;
    z-index: 9999;
}

.ac-open-wrapper.ac-bottom .ac-panel {
    top: 34px;
}

.ac-open-wrapper.ac-top .ac-panel {
    bottom: 38px;
}

.ac-list-wrapper {
    padding: 0 10px 10px 10px;
}

.ac-list-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.ac-list-wrapper ul li {
    margin: 0;
    padding: 0;
}

.ac-list-wrapper ul li .ac-item {
    font-size: 13px;
    padding: 4px 6px;
    word-break: break-all;
}

.ac-list-wrapper ul li .ac-item .ac-additional {
    font-size: 11px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.ac-list-wrapper ul li:nth-child(even) .ac-item {
    background: #F0F4F5;
}

.ac-list-wrapper ul li .ac-item.ac-empty-item {
    padding: 6px;
    font-size: 13px;
    font-style: italic;
}

.ac-list-wrapper ul li .ac-item.active {
    background: #f8ac59;
    color: #fff;
}

.ac-search-input-wrapper {
    padding: 10px;
}

.ac-search-input {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 35px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    cursor: text;
}

.ac-search-input:focus {
    outline: none;
    border-color: #f8ac59;
}

.ac-error-view {
    width: 100%;
    padding: 4px 8px;
    font-size: 11px;
    color: #555555;
    background-color: #fcc;
    background-image: none;
    border: 1px solid rgba(255, 50, 50, 0.1);
}

.ac-error-view-wrapper {
    padding: 0 10px 10px 10px;
}

.ac-pagination-wrapper {
    padding: 0 10px 10px 10px;
    display: none;
}

.ac-pagination-wrapper .ac-pagination-left, .ac-pagination-wrapper .ac-pagination-right {
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    padding: 0 8px;
    line-height: 30px;
    text-align: center;
    color: #f8ac59;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.ac-pagination-wrapper .ac-pagination-right {
    float: right;
}

.ac-list-wrapper ul li .ac-item .ac-already-selected {
    padding-right: 5px;
    color: #2ecc71;
}
.ac-list-wrapper ul li .ac-item.active .ac-already-selected {
    color: #fff;
}

i.fa.ac-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #444;
    cursor: pointer;
    -webkit-box-shadow: -6px 0px 5px #fff;
    box-shadow: -6px 0px 5px #fff;
}

i.fa.ac-icon.ac-loading-icon {
    -webkit-animation: rotating 500ms linear infinite;
    -moz-animation: rotating 500ms linear infinite;
    -ms-animation: rotating 500ms linear infinite;
    -o-animation: rotating 500ms linear infinite;
    animation: rotating 500ms linear infinite;
    box-shadow: none;
}

@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}